<?xml version="1.0" encoding="utf-8" ?>

<!DOCTYPE sqlMap      
	PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"      
	"http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap>
	
	
	<select id="getAcceptDateNum" parameterClass="HashMap" resultClass="Long">
		SELECT COUNT(DISTINCT a.md_id) AS amount from bps_rw_history a 
		<isEqual property="ywType" compareValue="EPP">
			 WHERE rw_ctime &gt; #beginTime# AND rw_ctime &lt;= #endTime# AND a.callid !=''AND Rw_Status_sn='A' and user_name= #userName# AND yw_type ='EPP';
		</isEqual>
		<isEqual property="ywType" compareValue="账单分期">
			 WHERE rw_ctime &gt; #beginTime# AND rw_ctime &lt;= #endTime# AND a.callid !=''AND Rw_Status_sn='A' and user_name= #userName# AND yw_type ='账单分期';
		</isEqual>
		<isEqual property="ywType" compareValue="大额EPPC">
			 WHERE rw_ctime &gt; #beginTime# AND rw_ctime &lt;= #endTime# AND a.callid !=''AND Rw_Status_sn='A' and user_name= #userName# AND yw_type ='大额EPPC';
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC">
			 LEFT JOIN mdx_eppc b on a.dr_key =b.dr_key WHERE a.rw_ctime &gt; #beginTime# AND a.callid !=''AND a.Rw_Status_sn='A' AND a.rw_ctime &lt;=#endTime# AND a.yw_type ='EPPC' AND b.Data_type!='新发卡备用金' and a.user_name= #userName#;
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC备用金">
			 LEFT JOIN mdx_eppc b on a.dr_key =b.dr_key WHERE a.rw_ctime &gt; #beginTime# AND a.callid !=''AND a.Rw_Status_sn='A' AND a.rw_ctime &lt;=#endTime# AND a.yw_type ='EPPC' AND b.Data_type='新发卡备用金' and a.user_name= #userName# ;
		</isEqual>
	</select>
	
	<select id="getTotalCalls" parameterClass="HashMap" resultClass="Long">
		SELECT COUNT(DISTINCT a.md_id) AS amount from bps_rw_history a 
		<isEqual property="ywType" compareValue="EPP">
			 WHERE rw_ctime &gt; #beginTime# AND rw_ctime &lt;= #endTime# AND a.callid !='' and user_name= #userName# AND yw_type ='EPP';
		</isEqual>
		<isEqual property="ywType" compareValue="账单分期">
			 WHERE rw_ctime &gt; #beginTime# AND rw_ctime &lt;= #endTime# AND a.callid !='' and user_name= #userName# AND yw_type ='账单分期';
		</isEqual>
		<isEqual property="ywType" compareValue="大额EPPC">
			 WHERE rw_ctime &gt; #beginTime# AND rw_ctime &lt;= #endTime# AND a.callid !='' and user_name= #userName# AND yw_type ='大额EPPC';
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC">
			 LEFT JOIN mdx_eppc b on a.dr_key =b.dr_key WHERE a.rw_ctime &gt; #beginTime# AND a.rw_ctime &lt;= #endTime# AND a.yw_type ='EPPC' AND b.Data_type!='新发卡备用金' and a.user_name= #userName# ;
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC备用金">
			 LEFT JOIN mdx_eppc b on a.dr_key =b.dr_key WHERE a.rw_ctime &gt; #beginTime# AND a.rw_ctime &lt;= #endTime# AND a.yw_type ='EPPC' AND b.Data_type='新发卡备用金'  and a.user_name= #userName#;
		</isEqual>
	</select>
	
	<select id="getRecordId" parameterClass="HashMap" resultClass="String">
		SELECT DISTINCT a.callid  from bps_rw_history a
		<isEqual property="ywType" compareValue="EPP">
			 WHERE user_name= #userName#  and a.rw_ctime &gt;= #beginTime# and a.rw_ctime &lt;=#endTime# AND a.callid != '' and yw_type='EPP';
		</isEqual>
		<isEqual property="ywType" compareValue="账单分期">
			 WHERE user_name= #userName#  and a.rw_ctime &gt;= #beginTime# and a.rw_ctime &lt;=#endTime# AND a.callid != '' and yw_type='账单分期';
		</isEqual>
		<isEqual property="ywType" compareValue="大额EPPC">
			 WHERE user_name= #userName#  and a.rw_ctime &gt;= #beginTime# and a.rw_ctime &lt;=#endTime# AND a.callid != '' and yw_type='大额EPPC';
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC">
			 LEFT JOIN mdx_eppc b on a.dr_key =b.dr_key WHERE a.rw_ctime &gt; #beginTime# AND a.rw_ctime &lt;= #endTime# AND a.yw_type ='EPPC' AND b.Data_type!='新发卡备用金' and a.user_name= #userName#;
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC备用金">
			 LEFT JOIN mdx_eppc b on a.dr_key =b.dr_key WHERE a.rw_ctime &gt; #beginTime# AND a.rw_ctime &lt;= #endTime# AND a.yw_type ='EPPC'  AND b.Data_type='新发卡备用金' and a.user_name= #userName#;
		</isEqual>
	</select>
	
	<select id="getSatisfactionTime" parameterClass="HashMap" resultClass="Double">
		SELECT IFNULL(SUM(unix_timestamp(Endtime_Ivr)-unix_timestamp(Begintime_Ivr)), 0.00) AS time FROM lx_ivrrecord a LEFT JOIN bps_rw_history b on a.PD_ID=b.md_id 
		<isEqual property="ywType" compareValue="EPP">
			 WHERE b.yw_type='EPP' 
		</isEqual>
		<isEqual property="ywType" compareValue="账单分期">
			 WHERE b.yw_type='账单分期' 
		</isEqual>
		<isEqual property="ywType" compareValue="大额EPPC">
			 WHERE b.yw_type='大额EPPC' 
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC">
			 LEFT JOIN mdx_eppc m on b.dr_key = m.dr_key WHERE b.yw_type='EPPC' and m.Data_type!='新发卡备用金' 
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC备用金">
			 LEFT JOIN mdx_eppc m on b.dr_key = m.dr_key WHERE b.yw_type='EPPC' and m.Data_type='新发卡备用金' 
		</isEqual>
		 and a.Begintime_Ivr &gt;=#beginTime# AND a.Begintime_Ivr &lt;=#endTime# AND a.Endtime_Ivr &gt;=#beginTime#
		AND a.Endtime_Ivr &lt;=#endTime# AND b.user_name=#userName# AND b.rw_ctime&gt;=#beginTime# AND b.rw_ctime&lt;=#endTime#
	</select>
	
	<select id="getDataList" parameterClass="HashMap" resultClass="String">
		SELECT DISTINCT a.md_id AS id from bps_rw_history a 
		<isEqual property="ywType" compareValue="EPP">
			 WHERE user_name= #userName# AND Rw_Status_sn = 'A' and a.rw_ctime &gt;=#beginTime# and a.rw_ctime &lt;=#endTime# and yw_type='EPP';
		</isEqual>
		<isEqual property="ywType" compareValue="账单分期">
			 WHERE user_name= #userName# AND Rw_Status_sn = 'A' and a.rw_ctime &gt;=#beginTime# and a.rw_ctime &lt;=#endTime# and yw_type='账单分期';
		</isEqual>
		<isEqual property="ywType" compareValue="大额EPPC">
			 WHERE user_name= #userName# AND Rw_Status_sn = 'A' and a.rw_ctime &gt;=#beginTime# and a.rw_ctime &lt;=#endTime# and yw_type='大额EPPC';
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC">
			 LEFT JOIN mdx_eppc b on a.dr_key =b.dr_key WHERE a.rw_ctime &gt;#beginTime# AND a.rw_ctime &lt;=#endTime# AND a.yw_type ='EPPC' AND a.Rw_Status_sn = 'A' AND b.Data_type!='新发卡备用金' and a.user_name= #userName#;
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC备用金">
			 LEFT JOIN mdx_eppc b on a.dr_key =b.dr_key WHERE a.rw_ctime &gt;#beginTime# AND a.rw_ctime &lt;=#endTime# AND a.yw_type ='EPPC' AND a.Rw_Status_sn = 'A' AND b.Data_type='新发卡备用金' and a.user_name= #userName#;
		</isEqual>
	</select>
	
	<select id="getRecordIdByWorkOrder" parameterClass="HashMap" resultClass="String">
		SELECT callid FROM bps_rw_history WHERE callid != '' AND user_name= #userName# AND md_id IN 
		<iterate property="dataList" conjunction="," open="(" close=")">
  		#dataList[]#
 		</iterate>
 		<isNotEqual property="ywType" compareValue="EPPC备用金">
 			and yw_type=#ywType#
 		</isNotEqual>
 		<isEqual property="ywType" compareValue="EPPC备用金">
 			and yw_type='EPPC'
 		</isEqual>
	</select>
	
	<select id="getSatisfactionTimeByWorkOrder" parameterClass="HashMap" resultClass="Double">
		SELECT IFNULL(SUM(unix_timestamp(Endtime_Ivr)-unix_timestamp(Begintime_Ivr)), 0.00) AS time FROM lx_ivrrecord WHERE  Yw_type=#ywTypeId# AND PD_ID IN 
		<iterate property="dataList" conjunction="," open="(" close=")">
  		#dataList[]#
 		</iterate>
	</select>
</sqlMap>
