<?xml version="1.0" encoding="utf-8" ?>

<!DOCTYPE sqlMap      
	PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"      
	"http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap>
	<select id="getApproveMoneyA" parameterClass="HashMap" resultClass="Double">
		SELECT 
		<isEqual property="ywType" compareValue="EPP">
			IFNULL(sum(transAmt*bills*feeRatio/100), 0.00) AS money FROM bps_gdx_epp WHERE forceTransfer !='1' 
		</isEqual>
		<isEqual property="ywType" compareValue="账单分期">
			IFNULL(sum(acceptAmt*bills*feeRatio1/100), 0.00) AS money FROM bps_gdx_zdfq WHERE forceTransfer !='1' 
		</isEqual>
		<isEqual property="ywType" compareValue="大额EPPC">
			IFNULL(sum(applyAmt*bills*Ave_RATE/100), 0.00) AS money FROM bps_gdx_deczj WHERE forceTransfer !='1' 
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC">
			IFNULL(sum(amount*bills*Ave_RATE/100), 0.00) AS money FROM bps_gdx_eppc WHERE forceTransfer !='1' and pettycash!='新发卡备用金'  
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC备用金">
			IFNULL(sum(amount*bills*Ave_RATE/100), 0.00) AS money FROM bps_gdx_eppc WHERE forceTransfer !='1' and pettycash='新发卡备用金'  
		</isEqual>
		
		  and gdx_exzx=#userName# and gdx_extime &gt;=CONCAT(CURDATE(),' 00:00:00') AND gdx_extime &lt;= CONCAT(CURDATE(),' 23:59:59') 
		  
		<isEqual property="period" compareValue="3期">
			 and  bills='3';
		</isEqual>
		<isEqual property="period" compareValue="6期">
			 and  bills='6';
		</isEqual>
		<isEqual property="period" compareValue="12期">
			 and  bills='12';
		</isEqual>
		<isEqual property="period" compareValue="18期">
			 and  bills='18';
		</isEqual>
		<isEqual property="period" compareValue="24期">
			 and  bills='24';
		</isEqual>
		<isEqual property="period" compareValue="36期">
			 and  bills='36';
		</isEqual>
	</select>
	
	<select id="getApproveMoneyB" parameterClass="HashMap" resultClass="Double">
		SELECT 
		<isEqual property="ywType" compareValue="EPP">
			 IFNULL(sum(transAmt*bills*feeRatio/100), 0.00) AS money FROM bps_gdx_epp WHERE forceTransfer =1 
		</isEqual>
		<isEqual property="ywType" compareValue="账单分期">
			 IFNULL(sum(acceptAmt*bills*feeRatio1/100), 0.00) AS money FROM bps_gdx_zdfq WHERE forceTransfer =1 
		</isEqual>
		<isEqual property="ywType" compareValue="大额EPPC">
			 IFNULL(sum(applyAmt*bills*Ave_RATE/100), 0.00) AS money FROM bps_gdx_deczj WHERE forceTransfer =1 
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC">
			 IFNULL(sum(amount*bills*Ave_RATE/100), 0.00) AS money FROM bps_gdx_eppc WHERE forceTransfer =1 and pettycash!='新发卡备用金' 
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC备用金">
			 IFNULL(sum(amount*bills*Ave_RATE/100), 0.00) AS money FROM bps_gdx_eppc WHERE forceTransfer =1 and pettycash='新发卡备用金' 
		</isEqual>
		
		  and gdx_exzx= #userName# and Update_t &gt;= CONCAT(date_add(CURDATE(),interval -1 day),' 23:30:00') AND Update_t &lt;= CONCAT(CURDATE(),' 07:00:00') AND approve_rst = '成功' and status_Approved = '已批核' 
		  
		<isEqual property="period" compareValue="3期">
			 and  bills='3';
		</isEqual>
		<isEqual property="period" compareValue="6期">
			 and  bills='6';
		</isEqual>
		<isEqual property="period" compareValue="12期">
			 and  bills='12';
		</isEqual>
		<isEqual property="period" compareValue="18期">
			 and  bills='18';
		</isEqual>
		<isEqual property="period" compareValue="24期">
			 and  bills='24';
		</isEqual>
		<isEqual property="period" compareValue="36期">
			 and  bills='36';
		</isEqual>
	</select>
	
	<select id="getMainAcceptNumA" parameterClass="HashMap" resultClass="Long">
		SELECT count(*) AS amount FROM 
		<isEqual property="ywType" compareValue="EPP">
			 bps_gdx_epp WHERE mainyw='EPP' 
		</isEqual>
		<isEqual property="ywType" compareValue="账单分期">
			bps_gdx_zdfq WHERE mainyw='账单分期' 
		</isEqual>
		<isEqual property="ywType" compareValue="大额EPPC">
			bps_gdx_deczj WHERE mainyw='大额EPPC'  
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC">
			bps_gdx_eppc WHERE pettycash!='新发卡备用金' AND mainyw='EPPC'  
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC备用金">
			bps_gdx_eppc WHERE pettycash='新发卡备用金' AND mainyw='EPPC'  
		</isEqual>
		 and forceTransfer !='1' and gdx_exzx=#userName# and gdx_extime &gt;=CONCAT(CURDATE(),' 00:00:00') AND gdx_extime &lt;= CONCAT(CURDATE(),' 23:59:59')
	</select>
	
	<select id="getMainAcceptNumB" parameterClass="HashMap" resultClass="Long">
		SELECT count(*) AS amount FROM 
		<isEqual property="ywType" compareValue="EPP">
			 bps_gdx_epp WHERE mainyw='EPP' 
		</isEqual>
		<isEqual property="ywType" compareValue="账单分期">
			bps_gdx_zdfq WHERE mainyw='账单分期' 
		</isEqual>
		<isEqual property="ywType" compareValue="大额EPPC">
			bps_gdx_deczj WHERE mainyw='大额EPPC'  
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC">
			bps_gdx_eppc WHERE pettycash!='新发卡备用金' AND mainyw='EPPC'  
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC备用金">
			bps_gdx_eppc WHERE pettycash='新发卡备用金' AND mainyw='EPPC'  
		</isEqual>
		  and forceTransfer ='1' and gdx_exzx=#userName# and Update_t &gt;= CONCAT(date_add(CURDATE(),interval -1 day),' 23:30:00') AND Update_t &lt;= CONCAT(CURDATE(),' 07:00:00') AND approve_rst = '成功' and status_Approved = '已批核'
	</select>
	
	<select id="getMainApproveMoneyA" parameterClass="HashMap" resultClass="Double">
		SELECT 
		<isEqual property="ywType" compareValue="EPP">
			 IFNULL(sum(transAmt), 0.00) AS money FROM bps_gdx_epp WHERE mainyw='EPP'
		</isEqual>
		<isEqual property="ywType" compareValue="账单分期">
			 IFNULL(sum(acceptAmt), 0.00) AS money FROM bps_gdx_zdfq WHERE mainyw='账单分期' 
		</isEqual>
		<isEqual property="ywType" compareValue="大额EPPC">
			 IFNULL(sum(applyAmt), 0.00) AS money FROM bps_gdx_deczj WHERE mainyw='大额EPPC' 
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC">
			 IFNULL(sum(amount), 0.00) AS money FROM bps_gdx_eppc WHERE mainyw='EPPC' and pettycash!='新发卡备用金' 
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC备用金">
			 IFNULL(sum(amount), 0.00) AS money FROM bps_gdx_eppc WHERE mainyw='EPPC' and pettycash='新发卡备用金' 
		</isEqual>
		  and forceTransfer !='1' and gdx_exzx= #userName# and gdx_extime &gt;=CONCAT(CURDATE(),' 00:00:00') AND gdx_extime &lt;= CONCAT(CURDATE(),' 23:59:59')
	</select>
	
	<select id="getMainApproveMoneyB" parameterClass="HashMap" resultClass="Double">
		SELECT 
		<isEqual property="ywType" compareValue="EPP">
			 IFNULL(sum(transAmt), 0.00) AS money FROM bps_gdx_epp WHERE mainyw='EPP'
		</isEqual>
		<isEqual property="ywType" compareValue="账单分期">
			 IFNULL(sum(acceptAmt), 0.00) AS money FROM bps_gdx_zdfq WHERE mainyw='账单分期' 
		</isEqual>
		<isEqual property="ywType" compareValue="大额EPPC">
			 IFNULL(sum(applyAmt), 0.00) AS money FROM bps_gdx_deczj WHERE mainyw='大额EPPC' 
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC">
			 IFNULL(sum(amount), 0.00) AS money FROM bps_gdx_eppc WHERE mainyw='EPPC' and pettycash!='新发卡备用金' 
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC备用金">
			 IFNULL(sum(amount), 0.00) AS money FROM bps_gdx_eppc WHERE mainyw='EPPC' and pettycash='新发卡备用金' 
		</isEqual>
		  and forceTransfer =1 and gdx_exzx= #userName# and Update_t &gt;= CONCAT(date_add(CURDATE(),interval -1 day),' 23:30:00') AND Update_t &lt;= CONCAT(CURDATE(),' 07:00:00') AND approve_rst = '成功' and status_Approved = '已批核'
	</select>
	
	<select id="getApproveMoneyWithPeriodA" resultClass="Double" parameterClass="HashMap">
		select 
		<isEqual property="dataType" compareValue="EPP">
			 IFNULL(sum(transAmt), 0.00) AS money from bps_gdx_epp where mainyw='EPP' 
		</isEqual>
		<isEqual property="dataType" compareValue="账单分期">
			 IFNULL(sum(acceptAmt), 0.00) AS money from  bps_gdx_zdfq where mainyw='账单分期' 
		</isEqual>
		<isEqual property="dataType" compareValue="大额EPPC">
			 IFNULL(sum(applyAmt), 0.00) AS money from bps_gdx_deczj where mainyw='大额EPPC' 
		</isEqual>
		<isEqual property="dataType" compareValue="EPPC">
			 IFNULL(sum(amount), 0.00) AS money bps_gdx_eppc where mainyw='EPPC' and pettycash!='新发卡备用金' 
		</isEqual>
		<isEqual property="dataType" compareValue="EPPC备用金">
			 IFNULL(sum(amount), 0.00) AS money bps_gdx_eppc where mainyw='EPPC' and pettycash='新发卡备用金' 
		</isEqual>
		  and forceTransfer !='1' AND gdx_exzx=#userName# AND gdx_extime &gt;=CONCAT(CURDATE(),' 00:00:00') AND gdx_extime &lt;= CONCAT(CURDATE(),' 23:59:59')  
		
		<isEqual property="period" compareValue="18期">
			 and  bills='18';
		</isEqual>
		<isEqual property="period" compareValue="24期">
			 and  bills='24';
		</isEqual>
		<isEqual property="period" compareValue="36期">
			 and  bills='36';
		</isEqual>
	</select>
	
	<select id="getApproveMoneyWithPeriodB" resultClass="Double" parameterClass="HashMap">
		select 
		<isEqual property="dataType" compareValue="EPP">
			 IFNULL(sum(transAmt), 0.00) AS money from bps_gdx_epp where mainyw='EPP' 
		</isEqual>
		<isEqual property="dataType" compareValue="账单分期">
			 IFNULL(sum(acceptAmt), 0.00) AS money from  bps_gdx_zdfq where mainyw='账单分期' 
		</isEqual>
		<isEqual property="dataType" compareValue="大额EPPC">
			 IFNULL(sum(applyAmt), 0.00) AS money from bps_gdx_deczj where mainyw='大额EPPC' 
		</isEqual>
		<isEqual property="dataType" compareValue="EPPC">
			 IFNULL(sum(amount), 0.00) AS money bps_gdx_eppc where mainyw='EPPC' and pettycash!='新发卡备用金' 
		</isEqual>
		<isEqual property="dataType" compareValue="EPPC备用金">
			 IFNULL(sum(amount), 0.00) AS money bps_gdx_eppc where mainyw='EPPC' and pettycash='新发卡备用金' 
		</isEqual>
		   and forceTransfer ='1' and Update_t &gt;= CONCAT(date_add(CURDATE(),interval -1 day),' 23:30:00') AND Update_t &lt;= CONCAT(CURDATE(),' 07:00:00') AND approve_rst = '成功' and status_Approved = '已批核' 
		<isEqual property="period" compareValue="18期">
			 and  bills='18';
		</isEqual>
		<isEqual property="period" compareValue="24期">
			 and  bills='24';
		</isEqual>
		<isEqual property="period" compareValue="36期">
			 and  bills='36';
		</isEqual>
	</select>
	
	<select id="getCrossApproveMoneyA" parameterClass="HashMap" resultClass="Double">
		select 
		<isEqual property="dataType" compareValue="EPP">
			 IFNULL(sum(transAmt), 0.00) AS money from bps_gdx_epp a 
		</isEqual>
		<isEqual property="dataType" compareValue="账单分期">
			 IFNULL(sum(acceptAmt), 0.00) AS money from  bps_gdx_zdfq a 
		</isEqual>
		<isEqual property="dataType" compareValue="EPPC">
			 IFNULL(sum(amount), 0.00) AS money from  bps_gdx_eppc a 
		</isEqual>
		<isEqual property="dataType" compareValue="大额EPPC">
			 IFNULL(sum(applyAmt), 0.00) AS money  from bps_gdx_deczj a 
		</isEqual>
		
		<isEqual property="ywType" compareValue="EPP">
			 where mainyw='EPP' 
		</isEqual>
		<isEqual property="ywType" compareValue="账单分期">
			 where mainyw='账单分期' 
		</isEqual>
		<isEqual property="ywType" compareValue="大额EPPC">
			 where mainyw='大额EPPC' 
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC">
			 where mainyw='EPPC' AND pettycash!='新发卡备用金' 
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC备用金">
			 where mainyw='EPPC' AND pettycash='新发卡备用金' 
		</isEqual>
		<isEqual property="ywType" compareValue="EPP-EPPC">
			 left join md_success b on a.md_id = b.md_id where a.mainyw='EPPC' and b.pettycash != '新发卡备用金' 
		</isEqual>
		<isEqual property="ywType" compareValue="EPP-EPPC备用金">
			 left join md_success b on a.md_id = b.md_id where a.mainyw='EPPC' and b.pettycash = '新发卡备用金' 
		</isEqual>
		 and gdx_exzx=#userName# and gdx_extime &gt;=CONCAT(CURDATE(),' 00:00:00') AND gdx_extime &lt;= CONCAT(CURDATE(),' 23:59:59') and forceTransfer !='1' 
		
	</select>
	
	<select id="getCrossApproveMoneyB" parameterClass="HashMap" resultClass="Double">
		select 
		<isEqual property="dataType" compareValue="EPP">
			 IFNULL(sum(transAmt), 0.00) AS money from bps_gdx_epp a 
		</isEqual>
		<isEqual property="dataType" compareValue="账单分期">
			 IFNULL(sum(acceptAmt), 0.00) AS money from  bps_gdx_zdfq a 
		</isEqual>
		<isEqual property="dataType" compareValue="EPPC">
			 IFNULL(sum(amount), 0.00) AS money from  bps_gdx_eppc a 
		</isEqual>
		<isEqual property="dataType" compareValue="大额EPPC">
			 IFNULL(sum(applyAmt), 0.00) AS money  from bps_gdx_deczj a 
		</isEqual>
		
		<isEqual property="ywType" compareValue="EPP">
			 where mainyw='EPP' 
		</isEqual>
		<isEqual property="ywType" compareValue="账单分期">
			 where mainyw='账单分期' 
		</isEqual>
		<isEqual property="ywType" compareValue="大额EPPC">
			 where mainyw='大额EPPC' 
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC">
			 where mainyw='EPPC' AND pettycash!='新发卡备用金' 
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC备用金">
			 where mainyw='EPPC' AND pettycash='新发卡备用金' 
		</isEqual>
		<isEqual property="ywType" compareValue="EPP-EPPC">
			 left join md_success b on a.md_id = b.md_id where a.mainyw='EPPC' and b.pettycash != '新发卡备用金' 
		</isEqual>
		<isEqual property="ywType" compareValue="EPP-EPPC备用金">
			 left join md_success b on a.md_id = b.md_id where a.mainyw='EPPC' and b.pettycash = '新发卡备用金' 
		</isEqual>
		 and gdx_exzx=#userName# and forceTransfer =1 and Update_t &gt;= CONCAT(date_add(CURDATE(),interval -1 day),' 23:30:00') AND Update_t &lt;= CONCAT(CURDATE(),' 07:00:00') AND approve_rst = '成功' and status_Approved = '已批核' 
	</select>
	
	<select id="getAutoBindNum" parameterClass="HashMap" resultClass="Long">
		SELECT 
		<isEqual property="ywType" compareValue="EPP">
			 COUNT(DISTINCT md_id) AS amount from bps_gdx_autofq a WHERE a.mainyw='EPP' 
		</isEqual>
		<isEqual property="ywType" compareValue="账单分期">
			COUNT(DISTINCT md_id) AS amount from bps_gdx_autofq a WHERE a.mainyw='账单分期' 
		</isEqual>
		<isEqual property="ywType" compareValue="大额EPPC">
			COUNT(DISTINCT md_id) AS amount from bps_gdx_autofq a WHERE a.mainyw='大额EPPC' 
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC">
			COUNT(a.md_id) AS amount from bps_gdx_autofq a LEFT JOIN md_success b on a.md_id=b.md_id WHERE a.mainyw='EPPC' AND b.pettycash!='新发卡备用金' 
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC备用金">
			COUNT(a.md_id) AS amount from bps_gdx_autofq a LEFT JOIN md_success b on a.md_id=b.md_id WHERE a.mainyw='EPPC' AND b.pettycash='新发卡备用金'
		</isEqual>
		    AND a.czlx != 'C' AND a.gdx_exzx =#userName# and a.gdx_extime &gt;=CONCAT(CURDATE(),' 00:00:00') 
		<isEqual property="dataType" compareValue="EPP">
			 and a.installment='YY01'
		</isEqual>
		<isEqual property="dataType" compareValue="账单分期">
			 and a.installment='ZD01'
		</isEqual>
	</select>
</sqlMap>
