<?xml version="1.0" encoding="utf-8" ?>

<!DOCTYPE sqlMap      
	PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"      
	"http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap>

	<select id="getBidMainBusi" parameterClass="HashMap" resultClass="Long">
		select count(a.md_id) AS amount from  bps_rw_history a 
		<isEqual property="ywType" compareValue="EPP">
			 where user_name = #userName# AND yw_type='EPP' AND gd_type='EPP工单' AND a.rw_ctime &gt;#beginTime# AND a.rw_ctime &lt;=#endTime#
		</isEqual>
		<isEqual property="ywType" compareValue="账单分期">
			 where user_name = #userName# AND yw_type='账单分期' AND gd_type='账单分期工单' AND a.rw_ctime &gt;#beginTime# AND a.rw_ctime &lt;=#endTime#
		</isEqual>
		<isEqual property="ywType" compareValue="大额EPPC">
			 where  user_name = #userName# AND yw_type='大额EPPC' AND gd_type='大额EPPC工单' AND a.rw_ctime &gt;#beginTime# AND a.rw_ctime &lt;=#endTime#  
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC">
			 LEFT JOIN mdx_eppc b ON a.dr_key=b.dr_key where  a.user_name = #userName# AND a.yw_type='EPPC' AND a.gd_type='EPPC工单' AND a.rw_ctime &gt;#beginTime# AND a.rw_ctime &lt;=#endTime# AND b.Data_type!='新发卡备用金' 
		</isEqual>
		<isEqual property="ywType" compareValue="备用金">
			 LEFT JOIN mdx_eppc b ON a.dr_key=b.dr_key where  a.user_name = #userName# AND a.yw_type='EPPC' AND a.gd_type='备用金工单' AND a.rw_ctime &gt;#beginTime# AND a.rw_ctime &lt;=#endTime# AND b.Data_type='新发卡备用金'  
		</isEqual>
		
		<isEqual property="bidType" compareValue="A">
			 AND a.Rw_Status_sn='A'
		</isEqual>
		<isEqual property="bidType" compareValue="B">
			AND a.Rw_Status_sn='B'
		</isEqual>
		<isEqual property="bidType" compareValue="F00">
			AND a.Rw_Status_sn='F' AND Rw_Reason_sn='F00'
		</isEqual>
		<isEqual property="bidType" compareValue="F01">
			AND a.Rw_Status_sn='F' AND Rw_Reason_sn='F01'
		</isEqual>
		<isEqual property="bidType" compareValue="F02">
			AND a.Rw_Status_sn='F' AND Rw_Reason_sn='F02'
		</isEqual>
		<isEqual property="bidType" compareValue="G01">
			AND a.Rw_Status_sn='G' AND Rw_Reason_sn='G01'
		</isEqual>
		<isEqual property="bidType" compareValue="G02">
			AND a.Rw_Status_sn='G' AND Rw_Reason_sn='G02'
		</isEqual>
		<isEqual property="bidType" compareValue="M">
			AND a.Rw_Status_sn='M'
		</isEqual>
		
	</select>
	
	<select id="getBidCrossData" parameterClass="HashMap" resultClass="Long">
		select COUNT(a.md_id) AS bid from bps_rw_history a 
		<isEqual property="ywType" compareValue="EPP">
			where a.yw_type='EPP' 
		</isEqual>
		<isEqual property="ywType" compareValue="账单分期">
			where a.yw_type='账单分期' 
		</isEqual>
		<isEqual property="ywType" compareValue="大额EPPC">
			where a.yw_type='大额EPPC' 
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC">
			LEFT JOIN mdx_eppc b ON a.dr_key=b.dr_key where a.yw_type='EPPC' AND b.Data_type!='新发卡备用金' 
		</isEqual>
		<isEqual property="ywType" compareValue="备用金">
			LEFT JOIN mdx_eppc b ON a.dr_key=b.dr_key where a.yw_type='EPPC' AND b.Data_type='新发卡备用金' 
		</isEqual>
		
			AND a.user_name = #userName# AND a.rw_ctime &gt;#beginTime# AND a.rw_ctime &lt;=#endTime# 
		<isEqual property="bidType" compareValue="A">
			AND a.Rw_Status_sn='A' 
		</isEqual>
		<isEqual property="bidType" compareValue="B">
			AND a.Rw_Status_sn='B' 
		</isEqual>
		<isEqual property="bidType" compareValue="F">
			AND a.Rw_Status_sn='F'
		</isEqual>
		<isEqual property="bidType" compareValue="F00">
			AND a.Rw_Status_sn='F' AND a.Rw_Reason_sn='F00' 
		</isEqual>
		<isEqual property="bidType" compareValue="F01">
			AND a.Rw_Status_sn='F' AND a.Rw_Reason_sn='F01' 
		</isEqual>
		<isEqual property="bidType" compareValue="F02">
			AND a.Rw_Status_sn='F' AND a.Rw_Reason_sn='F02' 
		</isEqual>
		<isEqual property="bidType" compareValue="G01">
			AND a.Rw_Status_sn='G' AND a.Rw_Reason_sn='G01' 
		</isEqual>
		<isEqual property="bidType" compareValue="G02">
			AND a.Rw_Status_sn='G' AND a.Rw_Reason_sn='G02' 
		</isEqual>
		<isEqual property="bidType" compareValue="M">
			AND a.Rw_Status_sn='M'
		</isEqual>
		
		<isEqual property="dataType" compareValue="EPP">
			AND a.gd_type='EPP工单' 
		</isEqual>
		<isEqual property="dataType" compareValue="账单分期">
			AND a.gd_type='账单分期工单' 
		</isEqual>
		<isEqual property="dataType" compareValue="EPPC">
			AND a.gd_type='EPPC工单' 
		</isEqual>
		<isEqual property="dataType" compareValue="备用金">
			AND a.gd_type='备用金工单' 
		</isEqual>
		<isEqual property="dataType" compareValue="大额EPPC">
			AND a.gd_type='大额EPPC工单' 
		</isEqual>
		 
	</select>
	
	<select id="getDgjDataNum" parameterClass="HashMap" resultClass="Long">
		SELECT COUNT(md_id) AS amount FROM md_success where user_name= #userName# AND if_jiean = '0' AND baoxianqi &gt;= CURDATE()
		<isEqual property="ywType" compareValue="EPP">
			 AND yw_id= 1
		</isEqual>
		<isEqual property="ywType" compareValue="账单分期">
			 AND yw_id= 10
		</isEqual>
		<isEqual property="ywType" compareValue="大额EPPC">
			 AND yw_id= 11
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC">
			 AND yw_id= 2 AND pettycash!='新发卡备用金'
		</isEqual>
		<isEqual property="ywType" compareValue="备用金">
			 AND yw_id= 2 AND pettycash='新发卡备用金'
		</isEqual>
	</select>
	
	<select id="getGqDataNum" parameterClass="HashMap" resultClass="Long">
		SELECT COUNT(md_id) AS amount FROM md_success where user_name= #userName# AND if_jiean = '0' AND baoxianqi &lt; CURDATE() AND baoxianqi &gt;=DATE_SUB(LEFT(#beginTime#, 10),INTERVAL 1 DAY) AND baoxianqi &lt;LEFT(#endTime#, 10)
		<isEqual property="ywType" compareValue="EPP">
			 AND yw_id= 1
		</isEqual>
		<isEqual property="ywType" compareValue="账单分期">
			 AND yw_id= 10
		</isEqual>
		<isEqual property="ywType" compareValue="大额EPPC">
			 AND yw_id= 11
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC">
			 AND yw_id= 2 AND pettycash!='新发卡备用金';
		</isEqual>
		<isEqual property="ywType" compareValue="备用金">
			 AND yw_id= 2 AND pettycash='新发卡备用金';
		</isEqual>
	</select>
	
	<select id="getWwhDataNum" parameterClass="HashMap" resultClass="Long">
		SELECT COUNT(md_id) AS amount FROM md_success where user_name= #userName# AND if_jiean = 2 AND baoxianqi >= CURDATE()
		<isEqual property="ywType" compareValue="EPP">
			 AND yw_id= 1
		</isEqual>
		<isEqual property="ywType" compareValue="账单分期">
			 AND yw_id= 10
		</isEqual>
		<isEqual property="ywType" compareValue="大额EPPC">
			 AND yw_id= 11
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC">
			 AND yw_id= 2 AND pettycash!='新发卡备用金';
		</isEqual>
		<isEqual property="ywType" compareValue="备用金">
			 AND yw_id= 2 AND pettycash='新发卡备用金';
		</isEqual>
	</select>
	
	<select id="getBidFData" parameterClass="HashMap" resultClass="Long">
		select count(distinct md_id) from  bps_rw_history a 
		<isEqual property="ywType" compareValue="EPP">
			where a.yw_type='EPP' 
		</isEqual>
		<isEqual property="ywType" compareValue="账单分期">
			where a.yw_type='账单分期' 
		</isEqual>
		<isEqual property="ywType" compareValue="大额EPPC">
			where a.yw_type='大额EPPC' 
		</isEqual>
		<isEqual property="ywType" compareValue="EPPC">
			LEFT JOIN mdx_eppc b ON a.dr_key=b.dr_key where a.yw_type='EPPC' AND b.Data_type!='新发卡备用金' 
		</isEqual>
		<isEqual property="ywType" compareValue="备用金">
			LEFT JOIN mdx_eppc b ON a.dr_key=b.dr_key where a.yw_type='EPPC' AND b.Data_type='新发卡备用金' 
		</isEqual>
		 AND a.user_name = #userName# AND a.rw_ctime &gt;#beginTime# AND a.rw_ctime &lt;=#endTime# AND a.Rw_Status_sn='F' 
	</select>
</sqlMap>
